<!DOCTYPE html>
<html lang="es">
    <head>
    
         <meta charset="UTF-8">
         <meta http-equiv="X-UA-Compatible" content="IE=edge">
         <meta name="viewport" content="width=device-width, initial-scale=1.0">
             <title>Mercado Liebre</title>
                <link href="../public/css/normalize.css" rel="stylessheet">
                <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
                <link href="../public/css/estilos.css" rel="stylesheet"> 
    </head>
    <body>
    <header>
        
        <img class="logo" src="public/images/logo-mercado-liebre.svg" alt="MercadoLiebre">
    
        <span><input type="text" name="barraDeBusqueda" placeholder="buscar"></i></span>
        <i class="fas fa-search"></i>  
            
        <i class="fas fa-hand-holding-usd"></i><span>compra en cuotas y sin tarjeta de credito</span>
            <nav>
                <div class="lista">
                    <ul>
                        <li><a href="#">Ofertas</a></li>
                        <li><a href="#">Tiendas Oficiales</a></li>
                        <li><a href="#">Vender</a></li>
                        <li><a href="#">ayuda</a></li>
                    </ul>
                    <ul>
                        <li><a href="#">Creá tu cuenta</a></li><i class="far fa-id-card"></i>
                        <li><a href="#">Ingresá</a></li><i class="fas fa-sign-in-alt"></i>
                        <li><a href="#">Mis compras</a></li><i class="fas fa-shopping-cart"></i>
                    </ul>
                </div>
            </nav>
                <div class="hamburguer">
                <i class="fas fa-bars"></i>
                </div>  
            <img src="../public/images/img-home-banner.jpg" alt="">    
        </header>
            
    </head>
    <main>
        
        <div class="contenedor"></div>
       <ul type="disc">
           
        
           <li><b>Seccion: Basado en tu ultima visita</b></li>

        <div class="tarjeta">
            <div>
                <img src ="public/images/img-cafetera-moulinex.jpg" alt="cafetera">
            </div>
            <div class="linea">
                <figure class="carro">
                <i class="fas fa-shipping-fast"></i>
                <li class="precio" type="none">$6.770</li>
                <li class="descuento" type="none">40% OFF</li></figure>
                <li class="descripcion" type="none"><b>Cafetera Moulinex</b></li>
            </div>
        </div>
                      
        
           <img width ="320" src ="public/images/img-macbook-pro-2019.jpg" alt="macbook-pro-2019">
           <li class="precio" type="none">$230.000</li>
           <li class="descuento" type="none">20% OFF</li>
           <li class="descripcion" type="none"><b>MacBoob Pro 2019</b></li>
        

           <img width ="320" src ="public/images/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10">
           <li class="precio" type="none">$70.000</li>
           <li class="descuento" type="none">10% OFF</li>
           <li class="descripcion" type="none"><b>Samsung Galaxy S10</b></li>
        

           <img width ="320" src ="public/images/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart">
           <li class="precio" type="none">$23.200</li>
           <liclass="descuento"  type="none">5% OFF</li>
           <li class="descripcion" type="none"><b>SmartTV Samsung 43"</b></li>
        
           

           <ul type="disc">
           <li><b>Seccion de Ofertas</b></li>
           
           <img width ="320" src ="public/images/img-cafetera-moulinex.jpg" alt="cafetera">
           <li class="precio" type="none">$6.770</li>
           <li class="descuento" type="none">40% OFF</li>
           <li class="descripcion" type="none"><b>Cafetera Moulinex</b></li>
        
                      
           <img width ="320" src ="public/images/img-macbook-pro-2019.jpg" alt="macbook-pro-2019">
           <li class="precio" type="none">$230.000</li>
           <li class="descuento" type="none">20% OFF</li>
           <li class="descripcion" type="none"><b>MacBoob Pro 2019</b></li>
        

           <img width ="320" src ="public/images/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10">
           <li class="precio" type="none">$70.000</li>
           <li class="descuento" type="none">10% OFF</li>
           <li class="descripcion" type="none"><b>Samsung Galaxy S10</b></li>
        

           <img width ="320" src ="public/images/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart">
           <li class="precio" type="none">$23.200</li>
           <li class="descuento" type="none">5% OFF</li>
           <li class="descripcion" type="none"><b>SmartTV Samsung 43"</b></li>

       </ul>
    
    </main>
    <footer>
        
        <ul type="disc" class="centrar">
            <div class="ajustar">
            <div class="agrandar">
               <i class="fas fa-credit-card"></i></div>
            <li><b>Paga con tarjeta o en efectivo</b></li>
            <li type="none">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!
                </li>
                
                <div class="agrandar">
                 <i class="fas fa-gift"></i></div>
            <li><b>Envío gratis desde $2500</b></li>
            <li type="none">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.
                </li>

                <div class="agrandar">
                 <i class="fas fa-user-shield"></i></div>
            <li><b>Seguridad, de principio a fin</b></li>
            <li type="none">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.
                </li>
            
            </div> 
            <li><b>Copyright © 1999-2020 MercadoLiebre S.R.L.</b></li>
              
                                       
        </ul>

    </footer>

</body>
</html>
