*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: rgb(204, 204, 204);
    overflow-x: hidden
    }
.copy{
    text-align: center;
    font-size: 24px;
    font-weight:500;
    

}
/*////////////////////////////////////////////////*/

/*header*/

header{
    background-color: yellow;
    overflow-x: hidden;
    }

.lista{
    display: flex;
    justify-content: space-between;
}

ul,li{
    list-style: none;
}

.lista ul{
    display: flex;
}

.lista ul li{
    margin: 0 3px;
}
a {
    color:blue;
}
.contenedor1 {
   display: flex;
   flex-wrap: wrap;
  
}

b{
    font-size: 24px;
    
    }

.logo{
    width: 40%;
    text-align:left;
}  

.hamburguer{
    justify-content: center;
    align-items: center;
    margin: 1rem;
    background-color: #0044AA;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: center;
    cursor: pointer;
    font-size: 30px;
    color:#ebebeb;
    width: 40px;
    margin-right: auto;
    margin-left: auto;
    }

/*header*/

/*//////////////////////////////////////////////*/

/*main*/


.tarjeta{
    
    background-color: white; 
    height: 430px;
    margin: 10px;
    }

.tarjeta img{
    width: 320px;
}

.precio{
    font-size: 18px;
    }
    .descuento{
    font-size: 16px;
    }
    .descripcion{
    font-size: 16px
    }

.carro{
    color: green;
    padding-right: 250px;
    }

/*main*/

/*////////////////////////////////////////////*/

/*footer*/

.boxend {
    display:flex;    
    margin-inline: 20px;
    margin-top: 20px;
}

.boxend div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}

.boxend div i {
    display: flex;
    color: blue;
    margin: 10px;
    font-size: 2em;    
}

.boxend div li{
    display: flex;
    text-align: center;
    margin: 0%;   
    color: #808080;
}
/*footer*/